* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#calculator {
    width: 280px;
    height: auto;
    padding: 20px;
    border: 2px solid rgb(163, 163, 163);
    border-radius: 10px;
    text-align: center;
    color: black;
    background-color: antiquewhite;
}

#display {
    width: 90%;
    height: 30px;
    margin: 10px;
    font-size: 25px;
    text-align: right;
}
.button-container{
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}
.Calculator-btn{
    width: 50px;
    height: 50px;
    margin: 2px;
}